body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    color:  #757575;
    line-height:normal;
    

}
.header .container{
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;


}

header{
    background-color: #FFFFFF;
    font-size: bold;
    

}

header > ul{
    list-style-type: none;
}

.mail {
font-weight: 500;    
text-decoration: none;
color: #757575;
font-size: 14px;



}
.mail:hover{
    color: #2196F3;

}
.phone {
    font-weight: 500; 
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    }

    .phone:hover{
        color: #2196F3;

    }


.part{
    color:black;
}
.logo-body{ 
 color:#2196F3;   
text-decoration: none;
font-family: "Raleway";
font-weight: bold;
font-size: 26px;
line-height: 31px;
letter-spacing: 0,03em;
margin-right: 93px;
}

.navigation > ul > li .current{
    color: #2196F3;
  
}
.navigation {
    background-color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.ul{
margin: 0;
padding: 0;


}

 .contactslist {
display: flex;
list-style: none;
margin: auto;

}
.classone:not(:last-child){
margin-right: 50px;
}

.navigation > ul {
    list-style-type: none ;
    display: flex;
    
}

.navigation > ul > li > a {
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 50px;
    margin-right: 50px;
    


}
.navigation > ul > li > a:hover {
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    color: #2196F3;
    display: inline-block;
    
    
}

 .navigation-menu > ul > li > a:hover { 
     color: #2196F3;
     text-decoration: underline;
     display: inline-block;
     
 }



 .special {
    
    
    background-color: #2F303A;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 200px 0px;

}

h1{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 6%;
    line-height: 60px;
    text-transform: uppercase; 
    text-align: center;
    margin-bottom: 50px;
    max-width: 696px;
    margin: 0 30 px;
    

}
.special > button {
    font-size: 16px;
    background-color: #2196F3;
    color:#FFFFFF; 
    text-align: center;
    padding: 10px 32px;



}
.hero{
    padding: 94px 0;


}
.hero li{
    width: 270px;
 }

 .hero li:not(:last-child){
    margin-right: 30px;
    }
.hero  ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0 ;
    padding-left: 0;
    display: flex;

    }

.hero  h3{
    font-size: 14px;
    color: black;
    text-transform: uppercase; 
    margin-bottom: 10px;
    margin-top: 0;

}
.hero ul > li > p{
    font-size: 14px;
    margin: 0;



}
.about > ul {
    text-decoration: none;
    list-style-type: none;
}
.about > h2 {
    font-size: 36px;
    color: black;
    text-align: center;
    }

.teamtitle {
    font-size: 36px;
    color: black;
    background-color:#F5F4FA;
    ;
    }
.team {
    font-size: 36px;
    color: black;
    background-color:#F5F4FA;


}

.team > ul {
 text-decoration: none;
    list-style-type: none;

}
.team > ul > li > h3 {
    font-size: 16px;
    color: #212121
    text-align: center;
    font-weight: 500;

    
}

.team > ul > li > p {
    font-size: 16px;
    color: #757575;
    text-align: center;
    font-weight: 400;
}

.footer > div > a{
    font-family: Raleway;
    font-size: 26px;
    
 }
 .footer > div > address{
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;


}








.footer{
    height: 400px;
    font-size: 44px;
    background-color: #2F303A;
    color: #FFFFFF;
    justify-content: center;

}

.contact{
    font-family: "Roboto", sans-serif;
    margin: 0;
    color:  #FFFFFF;
    line-height:normal;
    font-style: normal;
    text-decoration: none ;
    list-style-type: none;
    
}
.logo-footer
{ text-decoration: none;
    color:#2196F3;   
    text-decoration: none;
    font-family: "Raleway";
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0,03em;
    
}
.contact > ul {
    text-decoration: none ;
    list-style-type: none;

}

.parttwo{
    color: #FFFFFF
}

.mailtwo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);


}
.phonetwo { 
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);


}
.image {
    font-size: 36px;
    color: black;
   


}


.sectionportfolio  {
        color:black;
        text-decoration: none;
        list-style-type: none;
        
        
}



.sectionportfolio > ul {
    text-decoration: none; 
    list-style-type: none;

}

.sectionportfolio > ul > li  button:hover{
    background-color: #2196F3;
    color:#FFFFFF;
    text-decoration: none;
    list-style-type: none;


}

 
.menu {
    text-decoration: none;
    list-style-type: none;
}
.menu > ul {
    text-decoration: none;
    list-style-type: none;
    
}

.menu > ul > li > a{
   
    text-decoration: none;
    list-style-type: none;
}

.navname {
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
    color: black;
    text-align: left;
    font-weight: 700;


}


.desc {
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    color: #757575;
    text-align: left;
    font-weight: 400;
}